<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST">
    <label for="nome">Nome:</label> <input type="text" name="nome" size="50"></input><br />
    <label for="rendimento">Rendimento:</label> <input type="text" name="rendimento" size="15"></input><br />
    <label      for="endereco">Endereço:</label><br />
    <textarea name="endereco" cols="80" rows="5"> </textarea>
    <br /> <input type="submit"></input>
</form>
</body>
</html>